
<nav class="navbar navbar-default navbar-fixed-top bg-dark" >
   
  <div class="container">
    
  <div class="navbar-header">
      <a id="logo" class="navbar-brand" href="#myPage">1-818-832-8045</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
   
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#portfolio">DOC-TRACKER</a></li>
        <li><a href="#pricing">BLOG</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="#contact">LOG-IN</a></li>
      </ul>
    </div>
  </div>
</nav>
